@font-face {
  font-family: 'benderregular';
  src: url('fonts/jovanny_lemonad_-_bender-webfont.woff2') format('woff2'), url('fonts/jovanny_lemonad_-_bender-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'benderblack';
  src: url('fonts/jovanny_lemonad_-_bender-black-webfont.woff2') format('woff2'), url('fonts/jovanny_lemonad_-_bender-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'benderitalic';
  src: url('fonts/jovanny_lemonad_-_bender-italic-webfont.woff2') format('woff2'), url('fonts/jovanny_lemonad_-_bender-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'benderblack_italic';
  src: url('fonts/jovanny_lemonad_-_bender-blackitalic-webfont.woff2') format('woff2'), url('fonts/jovanny_lemonad_-_bender-blackitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* bxslider */
.bx-wrapper {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
  *zoom: 1;
}
.bx-wrapper img {
  max-width: 100%;
  display: block;
  margin-bottom: 10px;
  margin-top: 0 ;
}
/** THEME
===================================*/
.bx-wrapper .bx-viewport {
  background: #ffffff;
}
.bx-wrapper .bx-pager {
  display: none;
}
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
}
/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(../images/bx_loader.gif) center center no-repeat #ffffff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  right: 20px ;
}
.bx-wrapper .bx-prev:before {
  content: '';
  background: url(../images/flch-izq.gif) no-repeat center;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.bx-wrapper .bx-next {
  right: 0px;
}
.bx-wrapper .bx-next:before {
  content: '';
  background: url(../images/flch-der.gif) no-repeat center;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: -20px;
  transform: translateY(-50%);
  outline: 0;
  width: 32px;
  height: 112px;
  text-indent: -9999px;
  z-index: 9999;
}
/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center;
}
.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(../images/controls.png) -86px -11px no-repeat;
  margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
  background-position: -86px 0;
}
.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(../images/controls.png) -86px -44px no-repeat;
  margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
  background-position: -86px -33px;
}
/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}
/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666\9;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}
.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}
.bxslider {
  top: -12px;
}
.bxslider h5 a {
  font-family: 'benderblack_italic';
  color: #9a9a9a;
}
.bxslider h5 {
  width: 65%;
  float: left;
}
.bxslider h4 {
  color: #000000;
  font-family: 'benderblack_italic';
  display: inline-block;
}
.featureslider {
  top: -12px;
}
.featureslider h5 a {
  font-family: 'benderblack_italic';
  color: #9a9a9a;
}
.featureslider h5 {
  width: 65%;
  float: left;
}
.featureslider h4 {
  color: #000000;
  font-family: 'benderblack_italic';
}
