@import "font.less";
@tweeter-color: #3fccfd;
@fbc-color: #4966b6;
@fbc-height: 276px;
@link-color: #faef03 ;
@white-color: #fff ;
@black-color: #000 ;
@greybg : #222429 ;
@greylink : #5a5a5a ;
@minheightproduct : 600px ;
@capitalize : capitalize ;
@widthlogo :  170px;
@h1 : 36px;
@h2 : 30px;
@h3 : 24px;