@font-face {
  font-family: 'benderregular';
  src: url('fonts/jovanny_lemonad_-_bender-webfont.woff2') format('woff2'), url('fonts/jovanny_lemonad_-_bender-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'benderblack';
  src: url('fonts/jovanny_lemonad_-_bender-black-webfont.woff2') format('woff2'), url('fonts/jovanny_lemonad_-_bender-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'benderitalic';
  src: url('fonts/jovanny_lemonad_-_bender-italic-webfont.woff2') format('woff2'), url('fonts/jovanny_lemonad_-_bender-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'benderblack_italic';
  src: url('fonts/jovanny_lemonad_-_bender-blackitalic-webfont.woff2') format('woff2'), url('fonts/jovanny_lemonad_-_bender-blackitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
